*, body {
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/pattern6.png");
    background-repeat: repeat;
}

.bg_white {
    background-color: #fff;
}

.navbar {
    border-radius: 0;
}

.navbar-nav-top > li > a, .navbar-brand-top {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}

.navbar-top {
    min-height:28px !important;
    background-color: #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
}

.a_deactive {
    pointer-events: none;
    cursor: default;
}

header {
    background: #eb01a5;
    background-image: url(../img/header-imigrasi.jpg), linear-gradient(#eb01a5, #d13531);
    padding-bottom: 30px;
    padding-top: 132px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#page-header {
    border-bottom: 0px;
    padding: 0 36px;
}

.nav-second {
    background-color: #29343a;
    border-bottom: 3px solid #e5ebef;
    border-top: 0px;
    margin-bottom: 35px;
    /* padding: 8px 0; */
}

.navbar-inverse .navbar-nav-second>.active>a, .navbar-inverse .navbar-nav-second>.active>a:hover {
    background-color: #29343a;
    color: #f1c40f;
}

.navbar-nav-second >li {
	margin-right: -10px;
}

.nav-second .navbar-nav>li>a {
    color: #FFF;
}

.form-control {
    border: 1px solid #ecf0f1;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.btn.btn-default {
    background-color: #bdc3c7;
    border: 1px solid #bdc3c7;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.btn.btn-default:hover {
    background-color: #7f8c8d;
    border: 1px solid #7f8c8d;
    color: #fff;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.carousel {
    height: 350px;
    margin-bottom: 60px;
    margin-top: -3.5%;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    width: 100%;
    height: 350px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

.marketing-content>.row>.col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.content {
    margin: 0 5px;
}

footer {
    background-color: #202020;
    padding: 30px 0;
    border-top: 7px solid #bdc3c7;
    color: #ecf0f1;
	font-size: 12px;
}

.content-footer {
	color: #8A8686;
}
